@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss forms;

:root {
  --foreground-rgb: 57, 62, 70;
  --background-start-rgb: 238, 238, 238;
  --background-end-rgb: 0, 173, 181;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 57, 62, 70;
    --background-start-rgb: 238, 238, 238;
    --background-end-rgb: 0, 173, 181;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.banner-image-1 {
  margin: auto;
  border-radius: 18%;
  padding: auto;
  border: 0cap;
}
