@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss forms;

:root {
  --foreground-rgb: 57, 62, 70;
  --background-start-rgb: 238, 238, 238;
  --background-end-rgb: 0, 173, 181;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 57, 62, 70;
    --background-start-rgb: 238, 238, 238;
    --background-end-rgb: 0, 173, 181;
  }
}

#banner-body {
  color: rgb(var(--foreground-rgb));
  background: #1dcd8d;
}
#features-body {
  color: rgb(var(--foreground-rgb));
  background: #f4f4f4;
}
#about-body {
  color: rgb(var(--foreground-rgb));
  background: #1a2529;
}

h1 {
  color: black;
}
.card {
  padding: 5px;
  background: black;
  text-align: center;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 10px;
  border-color: #00ff99;
  animation: 3s spin linear infinite;
}
.card::before {
  filter: blur(1.5rem);
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
