@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss forms;

:root {
  --foreground-rgb: 57, 62, 70;
  --background-start-rgb: 238, 238, 238;
  --background-end-rgb: 0, 173, 181;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 57, 62, 70;
    --background-start-rgb: 238, 238, 238;
    --background-end-rgb: 0, 173, 181;
  }
}

#banner-body {
  color: rgb(var(--foreground-rgb));
  background: #1dcd8d;
}
#features-body {
  color: rgb(var(--foreground-rgb));
  background: #f4f4f4;
}
#about-body {
  color: rgb(var(--foreground-rgb));
  background: #1a2529;
}
